<%= render "header" %>

<%= render "search", post: @post %>

<footer class="footer navbar navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <div class="h1"> 　HIRUKURA　 </div>
      </a>
  </div>
</footer>