<%= render "header" %>

<div class="container">
  <div class="text-center m-5">
    <div class="p-3 my-4 border-bottom">
      <span class="display-5 fw-bold">編集</span>
    </div>
  </div>
  <%= render "form" %>
</div>