<%= render "header" %>

<div class="text-center m-5">
  <div class="my-5">
    <h2 class="page-heading">編集</h2>
    <%= render "form"  %>

    <div class="row">
      <div class="col-12">
        <% if user_signed_in? %>
          <% if current_user.id == @post.user_id %>
            <%= link_to "削除する", post_path(@post.id), data: { turbo_method: :delete }, class: "btn btn-lg btn-danger btn-block my-1 fs-4" %>
          <% end %>
        <% end %>
        </div>
    </div>

  </div>
</div>